body {
    margin: 0;
    padding: 1em;
    background-color: #1c1c1c;
    color: #c8d6e5;
}

.main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


