body {
    margin: 0;
    padding: 1em;
    background-color: black;
    background-image: url(./img/bg3.jpg);
    background-color: #5f27cd;
    background-size: inherit;
    background-repeat: repeat;
    color: #c8d6e5;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    font-family: 'Varela Round', sans-serif;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.image img{
    max-width: 75%;
}

